@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.list-box-header h2 {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}

.list-box-header p {
  font-size: 14px;
  color: #fff;
}

.list-box-header {
  background-color: #32cfb8;
  padding: 10px;
  box-shadow: 0px 10px 10px 0px #00000010;
  z-index: 1;
  position: relative;
}

.list-box-Body {
  padding: 50px;
  background-color: #f6f6f6;
  min-height: calc(100vh - 86px);
}

.todo-item {
  display: flex;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px #00000010;
}

.todo-item {
  display: flex;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px #00000010;
  justify-content: space-between;
  align-items: center;
}

.todo-icons img {
  width: 25px;
}


.todo-item .todo-heading {
  font-size: 16px;
  font-weight: 500;
}

.todo-add {
  padding: 10px;
  background-color: #32cfb8;
  border-radius: 5px;
}

.todo-add input {
  background-color: transparent;
  outline: none;
  color: #fff;
}

.todo-add input::placeholder {
  color: #c9dcdc;
}

.todo-add button {
  background-color: #fff;
  font-size: 12px;
  padding: 5px 30px;
  border-radius: 5px;
  border: 1px solid #fff;
  font-weight: 500;
  color: #000;
  transition: all 0.3s ease-in-out;
}

.todo-add button:hover {
  background-color: #32cfb8;
  color: #fff;
}

.todo-edit {
  position: absolute;
  width: 80%;
  top: 50%;
  margin: auto;
  padding: 10px;
  background-color: #32cfb8;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 1000px #00000020;
  left: 0;
  right: 0;
}

.more-box {
  position: absolute;
  background-color: #32cfb8;
  padding: 10px;
  border-radius: 10px;
  left: -110px;
  top: 0;
}

.more-box ul li {
    font-size: 12px;
    color: #fff;
    border-radius: 20px;
    padding: 2px 5px;
    font-weight: 600;
    margin-bottom: 5px;
    transition: all 0.3s ease;
}

.more-box ul li:last-child {
  margin-bottom: 0px;
}

.more-box ul li:hover {
  font-size: 12px;
  color: #32cfb8;
  background-color: #fff;
}

